#features {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	margin: auto;
	font-family: "Graphik";
	font-style: normal;
	text-align: center;
	overflow-x: hidden;
	position: relative;
	top: 91px;
  }
  
  .features__title {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .features__title h2 {
	width: 194px;
	height: 55px;
	font-weight: 400;
	font-size: 48px;
	line-height: 55px;
	letter-spacing: 0.2px;
	color: #252b42;
	margin-bottom: 27px;
  }
  
  .features__title p {
	width: 265px;
	height: 80px;
	font-weight: 400;
	font-size: 28px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #374754;
	margin-bottom: 67px;
  }
  
  .features__title span {
	display: none;
  }
  
  #features .features__video {
	height: 215px;
	width: 95vw;
	margin: 70px auto auto;
	background: url("../img/screen__small.png") no-repeat center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .features__video-image{
	  display: flex;
	  justify-content: center;
	  align-items: center;
  }
  .features__video-background-player{
	  position: absolute;
  }
  .features__video-image img{
	max-width: 100px;
    max-height: 100px;
}
.features__video-image:hover{
		cursor: pointer;
}
.features__video-image img:nth-child(2){
	max-width: 27px;
	max-height: 27px;
}
  
  .features__cards {
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	margin: 72px auto auto;
	text-align: center;
  }
  
  .features__cards > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 250px;
	width: 231px;
	margin: auto auto 82px;
  }
  
  .features__cards > div:nth-child(3) {
	margin-bottom: 98px;
  }
  
  .features__cards img {
	height: 46px;
	width: 46px;
	margin-bottom: 28px;
  }
  
  .features__cards h4 {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: #252b42;
	width: 194px;
	height: 56px;
  }
  
  .features__cards p {
	width: 231px;
	height: 100px;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 0.2px;
	color: #374754;
  }
  
  .features__cards-pencil h4 {
	width: 212px;
	height: 28px;
  }
  
  .features__cards-brush {
	width: 144px;
	height: 56px;
  }
  
  @media screen and (min-width: 1024px) {
	#features {
	  margin: 0 auto 52px;
	}
  
	.features__title {
	  grid-area: 1 / 1 / 2 / 4;
	}
  
	.features__title p {
	  width: 532px;
	  margin-bottom: 98px;
	}
  
	.features__title span {
	  display: inline;
	}
  
	.features__cards {
	  grid-template-columns: auto auto auto;
	  margin: auto;
	  grid-area: 2 / 1 / 3 / 4;
	}
  
	.features__cards > div:not(:last-child) {
	  margin: 0 76px 0 0;
	}
  
	#features .features__video {
	  grid-area: 4 / 1 / 5 / 4;
	  border-radius: 45px;
	  height: 658px;
	  width: 96vw;
	  margin: auto;
	  background: url("../img/screen__big.png") no-repeat center;
	  background-size: 1178px 658px;
	}
  }
  