<!--Features-->
<section id="features">
   <div class="features__title">
     <h2>Features</h2>
     <p>
       Most calendars are designed for teams.
       <span>Slate is designed for freelancers</span>
     </p>
   </div>
   <div class="features__video"></div>
   <div class="features__cards">
     <div class="features__cards-circle">
       <img src="./img/circle.png" alt="circle" />
       <h4>OpenType features Variable fonts</h4>
       <p>
         Slate helps you see how many more days you need to work to reach your
         financial goal.
       </p>
     </div>
     <div class="features__cards-pencil">
       <img src="./img/pencil.png" alt="pencil" />
       <h4>Design with real data</h4>
       <p>
         Slate helps you see how many more days you need to work to reach your
         financial goal.
       </p>
     </div>
     <div class="features__cards-brush">
       <img src="./img/brush.png" alt="brush" />
       <h4>Fastest way to<br />take action</h4>
       <p>
         Slate helps you see how many more days you need to work to reach your
         financial goal.
       </p>
     </div>
   </div>
 </section>
 