        <!--TESTs-->
        <header>
            <nav>
                <div id="header_logo"><img src="./img/logo.png" alt="logo" /></div>
                <div id="header__menu">
                    <ul>
                        <button class="closebtn" id="closeMenu"><span>&times;</span></button>
                        <li><a href="#home">home</a></li>
                        <li><a href="#product">product</a></li>
                        <li><a href="#pricing">pricing</a></li>
                        <li><a href="#about">about</a></li>
                        <li><a href="#contact">contact</a></li>
                    </ul>
                    <ul class="header__menu_socialMedia">
                        <li>
                            <a href="https://twitter.com/i/flow/login"><img src="./img/twitter_white.png" alt="twitter" /></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/"><img src="./img/facebook_white.png" alt="facebook" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/"><img src="./img/instagram_white.png" alt="instagram" /></a>
                        </li>
                    </ul>
                </div>
                <div id="openNav"><img src="./img/burger_icon.png" alt="burger_icon" class="burger" /></div>
            </nav>
            <!--Figma-->
            <section class="header__title">
                <div>
                    <h2>The best products start with Figma</h2>
                </div>
                <div>
                    <h4>Most calendars are designed for teams.</h4>
                </div>
                <div>
                    <button>Try For</button>
                </div>
            </section>
        </header>