<!--NewsLetter-->

<section>
    <div>
        <h2>At your fingertips</h2>
        <h4>Newsletter</h4>
        <p>Most calendars are designed for teams. Slate is designed for freelancers</p>
    </div>

    <div>
        <img src="./img/envelope.png" alt="envelope" />
    </div>
    <div>
        <form>
            <h6>Subscribe to our Newsletter</h6>
            <p>Available exclusivery on Figmaland</p>
            <label for="email">
                <input type="email" name="email" id="email" placeholder="Your email" />
            </label>
            <input type="submit" value="Subscribe" />
        </form>
    </div>
</section>