 <!--Pricing-->
 <section id="pricing">
    <div>
        <h2>Pricing</h2>
        <p>Most calendars are designed for teams.</p>
    </div>
    <!--Cards-->
    <div>
        <h6>
            free
        </h6>
        <p>Organize across all apps by hand</p>
        <!--Price-->
        <div>
            <p>0</p>
            <p>$</p>
            <p>per month</p>
        </div>

        <div>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
        </div>
        <button>order now</button>
    </div>

    <!--Cards-->
    <div>
        <h6>
            Standard
        </h6>
        <p>Organize across all apps by hand</p>
        <!--Price-->
        <div>
            <p>10</p>
            <p>$</p>
            <p>per month</p>
        </div>

        <div>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
        </div>
        <button>order now</button>
    </div>

    <!--Cards-->
    <div>
        <h6>
            busisness
        </h6>
        <p>Organize across all apps by hand</p>
        <!--Price-->
        <div>
            <p>99</p>
            <p>$</p>
            <p>per month</p>
        </div>

        <div>
            <ul>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
                <li>Pricing Feature</li>
            </ul>
        </div>
        <button>order now</button>
    </div>
</section>