            <!--Features-->
            <section id="product">
                <div>
                    <h2>
                        Features
                    </h2>
                    <p>
                        Most calendars are designed for teams.
                    </p>
                </div>
                <div>
                    <video src="#"></video>
                </div>
                <div>
                    <img src="./img/circle.png" alt="circle" />
                    <h4>OpenType features Variable fonts</h4>
                    <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
                </div>
                <div>
                    <img src="./img/pencil.png" alt="pencil" />
                    <h4>Design with real data</h4>
                    <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
                </div>
                <div>
                    <img src="./img/brush.png" alt="brush" />
                    <h4>Fastest way to take action</h4>
                    <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
                </div>
            </section>