 <!--Testimonials-->
 <section id="about">
    <div>
        <h2>Testimonials</h2>
    </div>
    <div>
        <img src="./img/ibm.png" alt="ibm" />
    </div>
    <div>
        <p>
            Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        </p>
    </div>
    <div>
        <img src="./img/foto.png" alt="foto" />
        <p>Organize across</p>
        <p>Ui designer</p>
    </div>
    <div>
        <button>More Testimonials</button>
    </div>
</section>