<!--Testimonials-->
<section id="about" class="testimonials">
    <div class="testimonials__title">
      <h2>Testimonials</h2>
    </div>
    <div class="testimonials__img">
      <img src="./img/ibm_dark.png" alt="ibm" />
    </div>
    <div class="testimonials__description">
      <p>
        Most calendars are designed for teams. Slate is designed for freelancers
        who want a simple way to plan their schedule.
      </p>
    </div>
    <div class="testimonials__foto">
      <img src="./img/foto.png" alt="foto" />
      <p>Organize across <br /><span>Ui designer</span></p>
    </div>
    <div class="testimonials__footer">
      <button><span>More Testimonials</span></button>
    </div>
  </section>
  