            <!--Fastest Ways-->
            <section class="way">
                <div class="way__title">
                    <h2>Fastest way to organize</h2>
                    <p>Most calendars are designed for teams.<br>
                    <span>Slate is designed for freelancers</span>
                    </p>
                    <button>Try For Free</button>
                </div>
                <div class="way__title-images">
                    <img src="./img/macbook .png" alt="macbook">
                </div>
            </section>